{% load account_tags %}
{% load avatar_tags %}
{% load i18n %}
{% load override_tags %}
{% load threadedcommentstags %}
{% load uni_form_tags %}

{% get_threaded_comment_tree for object as responses %}

<ul class="responses">
    {% for response in responses %}
        <li class="{% cycle even,odd %} thread-{{ response.depth }} clearfix">
            <a id="comment_{{response.id}}"></a>
            <div class="meta">
                <div class="avatar">{% avatar response.user 40 %}</div>
                <div class="details">
                <strong>
                    <a href="{% url 'profile_detail' response.user.username %}">{% user_display response.user %}</a>
                </strong>
                </div>
                <small>{{ response.date_submitted|date }}</small>
            </div>
            <div class="bulk">
                <div class="body">{{ response.comment|urlize|profilize|linebreaks }}</div>
                {% ifequal user response.user %}
                <div class="pull-right">
                <form method="POST" action="{% url 'tc_comment_delete' response.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}" />
                    <button id="tc_comment_delete_{{response.id}}" type="submit" class="btn btn-xs btn-default"><i class="fa fa-remove"></i>  {% trans "Delete Post" %}</button>
                    <script>$("#tc_comment_delete_{{response.id}}").popConfirm();</script>
                </form>
                </div>
                {% endifequal %}
                <a href="javascript:toggle_comment_form({{ response.id }})" class="btn btn-xs btn-default"><i class="fa fa-reply"></i>  {% trans "Reply to This Post" %}</a>
                <form class="hidden" method="POST" action="{% get_comment_url object response %}" id="comment_form_{{ response.id }}">
                    {% csrf_token %}
                    <table><tr><td><textarea rows="10" cols="40" name="comment"></textarea></td></tr>
                    <tr><td><button type="submit" value="" class="btn btn-xs btn-default"><i class="fa fa-ok"></i>  {% trans "Post Response" %}</button></td></tr></table>
                    <input type="hidden" name="next" value="{{ request.path }}" />
                </form>
            </div>
        </li>
    {% endfor %}
</ul>

{% if user.is_authenticated %}
    <fieldset class="inlineLabels">
        <form class="uniForm" method="POST" action="{% get_comment_url object %}" role="form">
            {% csrf_token %}
                <div class="ctrlHolder">
                    <label for="id_comment">{% trans 'Enter your comment' %}</label>
                    <textarea id="id_comment" rows="10" cols="80" name="comment"></textarea>
                </div>
                <div class="form_block">
                    <input type="hidden" name="next" value="{{ request.path }}" />
                    <button type="submit" value="" class="btn btn-xs btn-default"><i class="fa fa-ok"></i> {% trans "Post Response" %}</button>
                </div>
        </form>
    </fieldset>
{% else %}
    {% url 'acct_login' as acct_login_url %}
    {% url 'acct_signup' as acct_signup_url %}
    {% blocktrans %}
        <h3>Please <a href="{{ acct_login_url }}">Login</a> (or <a href="{{ acct_signup_url }}">Sign Up</a>) to leave a comment</h3>
    {% endblocktrans %}
{% endif %}
