{% extends "site_base.html" %}

{% load i18n %}

{% block body_class %}account{% endblock %}


{% block subnav %}
    {% if user.is_authenticated %}
        <ul class="nav navbar-nav subnav">
            <li><a href="{% url 'acct_email' %}"><i class="fa fa-envelope-o"></i> {% trans "E-Mail Addresses" %}</a></li>
            <li><a href="/openid/associations/"><i class="fa fa-cog"></i> {% trans "OpenID Associations" %}</a></li>
            {% if user.password %}
            <li><a href="{% url 'acct_passwd' %}"><i class="fa fa-lock"></i> {% trans "Change Password" %}</a></li>
            {% else %}
            <li><a href="{% url 'acct_passwd_set' %}"><i class="fa fa-lock"></i> {% trans "Set Password" %}</a></li>
            {% endif %}
            {% if user.password and request.openids %}
            <li><a href="{% url 'acct_passwd_delete' %}"><i class="fa fa-remove"></i> {% trans "Delete Password" %}</a></li>
            {% endif %}
            <li><a href="{% url 'acct_language_change' %}"><i class="fa fa-globe"></i> {% trans "Language" %}</a></li>
            <li><a href="{% url 'acct_timezone_change' %}"><i class="fa fa-clock-o"></i> {% trans "Timezone" %}</a></li>
        </ul>
    {% else %}
        &nbsp; {# need this to give subnav some height when empty #}
    {% endif %}
{% endblock %}
