{% extends "site_base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% load ifsetting_tag %}
{% load account_tags %}

{% block head_title %}{% trans "Login" %}{% endblock %}

{% block body %}
    <div class="container">
    <div class="col-sm-7 col-sm-offset-2">	    	    
    
    
    {% if openid and not user.is_authenticated %}
        <p><span class="warning">It appears you have started to login using OpenID. Want to <a href="/openid/register/">finish logging in</a>?</span></p>
    {% endif %}
    
    <h1>{% trans "Log In" %}</h1>
    
    {% if user.is_authenticated %}
        {% user_display user as user_display %}
        <p><span class="warning">{% trans "Note" %}</span>: {% blocktrans %}you are already logged in as {{ user_display }}.{% endblocktrans %}</p>
    {% else %}
        {% ifsetting ACCOUNT_OPEN_SIGNUP %}
        {% url 'acct_signup' as signup_url %}
        <p>{% blocktrans %}Don't have an account? <a href="{{ signup_url }}">Sign up</a>!{% endblocktrans %}</p>
        {% endifsetting %}
    {% endif %}
    
    <form class="form-horizontal" method="POST" action="{% url 'acct_login' %}">
        {% csrf_token %}
        
        {{ form.non_field_errors }}
        <div class="form-group">
            {{ form.username.errors }}
            <label for="id_username" class="col-sm-3 control-label">{% trans 'Username' %}</label>
            <div class="col-sm-9">
            {{ form.username }}
            </div>
        </div>
        <div class="form-group">
            {{ form.password.errors }}
            <label for="id_password" class="col-sm-3 control-label">{% trans 'Password' %}</label>
            <div class="col-sm-9">
            {{ form.password }}
            </div>
        </div>
        <div class="form-group">
            {{ form.remember.errors }}
            <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox">
                    <label>{{ form.remember }} {% trans 'Remember Me' %}</label>
                </div>
            </div>
        </div>
        
        {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
        
            
         <div class="form-group">
         	<div class="col-sm-offset-3 col-sm-9">
             	<button class="btn btn-default"><i class="fa fa-sign-in"> </i> {% trans "Log in" %}</button>
         	<a class="pull-right" href="{% url 'acct_passwd_reset' %}">{% trans "Forgot password?" %}</a>
             </div>
         </div>
    </form>

    <hr>
    
    <p>{% trans "Or sign in with your OpenID" %}:</p>
    {# @@@ why isn't this just does as a form object ? #}
    <form class="form-horizontal" action="/openid/register/" method="POST">
        {% csrf_token %}
        <div class="form-group">
            {% if url_required %}
                <div class="ctrlHolder error">
                    <p class="errorField">
                        <strong>This field is required.</strong>
                    </p>
                    <label for="id_username">* OpenID Identifier</label>
                    <input class="openid form-control" type="text" name="openid_url" />
                </div>
            {% else %}
               
                    <label for="id_username" class="col-sm-2 control-label">* OpenID Identifier</label>
                    <div class="col-sm-10">
                    	<input class="openid form-control" type="text" name="openid_url" />
                    </div>
               
            {% endif %}           
        </div>
        <div class="form-group">
         	<div class="col-sm-offset-2 col-sm-10">
             	<button class="btn btn-default pull-right"><i class="fa fa-sign-in"> </i> {% trans "Log in" %}</button>
             </div>
         </div>
    </form>
    
    <p>{% blocktrans %}If you have any trouble logging in to your account, contact us at <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
    </div>
    </div>
{% endblock %}

{% block extra_body %}
<script>
    $("#id_username").focus();
</script>
{% endblock %}
