{% extends "site_base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% load override_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block body_class %}signup{% endblock %}

{% block body %}
 <div class="container">
 	
 	<div class="row">
 		<div class="col-sm-10 col-sm-offset-1">
 	
    <h1>{% trans "Sign Up" %}</h1>
    
    {% if user.is_authenticated %}
        <p>{% trans "You are already logged in." %}</p>
    {% else %}
        <div id="signup-info">
            {% blocktrans with smeuhorg='<a href="http://smeuh.org">Smeuh.Org</a>' %}
            {{ smeuhorg }} members can already connect with their usual username
            and password. Anybody else can create an account specific to MySmeuh
            here.
            {% endblocktrans %}
            <p><a href="{% url 'acct_login' %}">{% trans "Already have an account?" %}</a></p>

            <p>{% blocktrans %}If you have any trouble creating your account, contact us at <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
        </div>
        
        <div id="signup-forms">
        <form class="signup form-horizontal" id="signup_form" method="post" action="{% url 'acct_signup' %}">
            {% csrf_token %}
            <fieldset class="inlineLabels">
                <legend>{% trans 'Create an account (not necessary for Smeuh.Org members)' %}</legend>
                {{ form | as_uni_form }}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <input class="btn btn-primary pull-right" type="submit" value="{% trans 'Sign Up &raquo;' %}" />
                
            </fieldset>
        </form>
        
        {# @@@ currently OpenID signup is not supported via signup codes #}
        {% if not code %}
            {# @@@ why isn't this just does as a form object ? #}
            <form class="login form-horizontal" action="/openid/register/" method="POST" class="form-horizontal">
                {% csrf_token %}
                <fieldset class="inlineLabels">
            <legend>{% trans "Or sign in with your OpenID" %}</legend>
                    {% if url_required %}
                        <div class="ctrlHolder error">
                            <p class="errorField">
                                <strong>This field is required.</strong>
                            </p>
                            <label for="id_username" class="col-sm-2 control-label">* OpenID Identifier</label>
                            <input class="openid" type="text" name="openid_url" />
                        </div>
                    {% else %}
                        <div class="ctrlHolder">
                            <label for="id_username" class="col-sm-2 control-label">* OpenID Identifier</label>
                            <div class="col-sm-10">
                            	<input class="openid form-control" type="text" name="openid_url" />
                            </div>
                        </div>
                    {% endif %}
                    <div class="form_block">
                        <input class="btn pull-right" type="submit" value="{% trans 'Log in &raquo;' %}" />
                    </div>
                </fieldset>
            </form>

            {% if request.user.is_authenticated %}
                <div><a href="{% url 'acct_logout' %}?next={{ request.path }}&amp;sm={{ split_test }}&amp;sn=logout">logout</a></div>
            {% endif %}
        {% endif %}
        </div>                
    {% endif %}
    </div>
    </div>
</div>    
{% endblock %}

{% block extra_body %}
    {% load jquery_validation %}
    {% include_validation %}
    <script type="text/javascript">
        $(function(){
            $('#signup_form').validate('{% url 'signup_form_validate' %}', {type: 'table', fields: ['username'], dom: $('#id_username'), event: 'change'});
            $("#id_username").focus();
        });
    </script>
{% endblock %}
