{% extends "account/base.html" %}

{% load i18n %}
{% load uni_form_tags %}

{% block head_title %}{% trans "Timezone" %}{% endblock %}

{% block body %}
 <div class="container">
    <h1>{% trans "Timezone" %}</h1>
    
    <p>{% trans "Pinax can localize all times into your preferred timezone. Change your timezone below." %}</p>
    
    <form method="POST" action="" class="form-horizontal">
        {% csrf_token %}
        {{ form|as_uni_form }}       
        <div class="form-group">
    		<div class="col-sm-offset-2 col-sm-10">      			
                <input type="submit" value="{% trans "Change my timezone" %}" class="btn btn-default" />
		    </div>
		</div> 
    </form>
</div>    
{% endblock %}
