{% extends "timeline/_item.html" %}

{% load i18n %}
{% load tagging_tags %}
{% load threadedcommentstags %}
{% load override_tags %}

{% block item_action_label %}a posté une photo{% endblock %}

{% block item_content %}
{% with timelineitem.item  as  photo %}
<div class="pull-right clearfix">
   {% tags_for_object photo as tags %}
   {% for tag in tags %}
     <small><a href="{% url 'tag_timeline' tag %}"><i class="fa fa-tag"></i> {{ tag }}</a></small>
   {% endfor %}
	<a href="{% url 'photo_details' id=photo.id %}#photocomments" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-comment"> </i> {% get_comment_count for photo as commentcount %} <small>{{ commentcount }}</small> </a>   
</div>

<h4><a href="{% url 'photo_details' id=photo.id %}">{{ photo.title }}</a></h4>


<a href="{% url 'photo_details' id=photo.id %}"><img class="img-responsive img-rounded center-block photo-details" src="{{ photo.get_display_url|urlencode }}" alt="{{ photo.title }}" style="max-height: 640px;" /></a>



<span class="timeline-comment-body">{{ photo.caption|urlize|profilize|tagalize|smilize|linebreaks }}</span>


    

{% comment %}
<h4><a href="{% url 'photo_details' id=photo.id %}"><span class="pull-left"><img
      class="img-rounded timeline-thumb" src="{{ photo.get_thumbnail_url|urlencode }}" alt="{{ photo.title }}"></span>{{ photo.title }}</a></h4>
{# <a class="timeline-comment-body" href="{% url 'photo_details' id=photo.id %}">{{ photo.caption|urlize|tagalize|smilize|truncatewords:24 }}</a> #}
{{ photo.caption|urlize|tagalize|smilize }}
{% endcomment %}

{% endwith %}
{% endblock %}


