{% extends "timeline/_item.html" %}

{% load i18n %}
{% load override_tags %}

{% block item_action_label %}a posté une photo{% endblock %}

{% block item_content %}
{% with timelineitem.item  as  photo %}
<h4><a href="{% url 'photo_details' id=photo.id %}"><span class="pull-left"><img
      class="img-rounded timeline-thumb" src="{{ photo.get_thumbnail_url|urlencode }}" alt="{{ photo.title }}"></span>{{ photo.title }}</a></h4>
{# <a class="timeline-comment-body" href="{% url 'photo_details' id=photo.id %}">{{ photo.caption|urlize|tagalize|smilize|truncatewords:24 }}</a> #}
{{ photo.caption|urlize|tagalize|smilize|truncatewords:24 }}
{% endwith %}
{% endblock %}


