{% extends "audiotracks/mediaelement_base.html" %}

{% load i18n %}
{% load override_tags %}
{% load pagination_tags %}

{% block head_title %}{% trans "Timeline" %}{% endblock %}
{% block extra_head %}{{ block.super }}<script type="text/javascript" src="{{ STATIC_URL }}js/microblogging.js"></script>{% endblock %}

{% block nav_news_li %}class="active"{% endblock%}

{% block subnav %}
<ul class="nav navbar-nav subnav">
	{% include 'cta_drop.html' %}
	<li><a href="{% url 'timeline' %}"><i class="fa fa-list"></i> {% trans "All News" %}</a></li>		
	<li><a href="{% url 'friends_news' %}"><i class="fa fa-heart"></i> {% trans "Friends' News" %}</a></li>
	<li><a href="{% url 'following_news' %}"><i class="fa fa-comment"></i> {% trans "Tweets You Follow" %}</a></li>
{#   	<li><a href="{% url 'tweets_you_follow' %}" title="{% trans "Tweets" %}" ><i class="fa fa-comment"></i> {% trans "Tweets" %}</a></li> #}
	
</ul>
<ul class="nav navbar-nav subnav navbar-right">
{% block subnavright %}{% endblock %}
</ul>
{% endblock %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<h1>{% block title %}{% trans 'News' %}{% endblock %}</h1>			
		{% block touiteform %}
			<div class="row">
				<div class="col-xs-12">
					{% include 'microblogging/tweet_form.html' %}	
				</div>		
			</div>
			{% endblock %}
			<div id="timeline">
			{% autopaginate timelineitems 25 %}
			{% for timelineitem in timelineitems %}
			{% include timelineitem.template %}				    			
  			{% endfor %}
  			{% paginate %}
			</div>
		</div>
	</div>
</div>
{% endblock %}