.audiotracks-list {
    overflow: hidden;
}

.audiotracks-list-entry {
    padding: 0;
    font-size: 16px;
    line-height: 16px;
    width: 380px;
    float: left;
    margin: 24px 48px 24px 0;
}

.audiotracks-list-entry .debug-info {
    color: silver; 
    font-size: 10px; 
    font-style: italic;
    margin: 0 0;
}

.audiotracks-list-entry .track-image,
.audiotracks-list-entry .inline-avatar {
  float: left;
  margin-right: 10px;
  height: 49px;
}

.audiotracks-list-entry .inline-avatar img {
  width: 48px;
  height: 48px;
}

.audiotracks-list-entry p {
  margin: 0;
}

.audiotracks-list-entry .track-details {
  margin-bottom: 5px;
}

.audiotracks-list-entry .track-title {
  font-size: 16px;
  line-height: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; 
}

.audiotracks-list-entry .upload-details {
  font-size: 80%;
  color: #ccc;
}

.audiotracks-list-entry ul.tags {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 12px;
}

.audiotracks-list-entry .tags li {
  display: inline;
  list-style: none;
}

.tags-placeholder {
   height: 12px;
}

.audiotracks-list-entry-entry {
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.audiotracks-detail img {
    float: right;
    margin-left: 20px;
}

.audiotracks-detail #audioplayer {
  margin-top: 24px;
  clear: both;
  max-width: 450px;
}

.audiotracks-description {
    margin: 1em 1em 2em 0;
}

.audiotracks-details-container {
  clear: both;
  overflow: hidden;
}

.audiotracks-details-container h1,
.audiotracks-details-container img {
  margin-top: 24px;
}

.audiotracks .left_panel {
  float: left;
  width: 650px;
}

.audiotracks audio {
  visibility: hidden;
}

.audiotracks-download {
  margin-top: 36px;
}

.audiotracks-download a {
  text-decoration: none;
}

/*
.audiotracks-download a {
    font-size: large;
    background: #00B000;
    color: #F4C021;
    padding: 0.3em;
    border: solid 3px #F4C021;
    text-decoration: none;
}

.audiotracks-download a:hover {
    background: #00b600;
    color: #F6C223;
    border-color: #F8C425;
}
*/

.audiotracks-edit-current-data {
    font-size: 16px;
}

.audiotracks-edit-row {
    clear: both;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.audiotracks-edit-row div {
    float: left;
    margin-right: 1em;
}

.audiotracks-edit-row img {
    vertical-align: top;
}

.audiotracks-delete-image-label {
    display: inline;
}

ul.audiotracks-track-attributes {
    padding-left: 0px;
}

.audiotracks-track-attributes li {
    list-style: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

#slug {
    overflow: hidden;
}

#save-button {
    clear: both;
    margin: 16px 0;
}

.pagination ul {
    padding: 0;
}

.pagination li {
    display: inline;
}

.pagination li.active a {
    background-color: #f5f5f5;
    cursor: default;
}

.me-cannotplay {
    line-height: 2px;
}

