{% load bootstrap3 %}
{% if page.paginator.num_pages > 1 %}
<div >
  <ul class="pagination pull-right">
    {% if page.has_previous %}
    <li>
    <a href="{{ base_path }}/{{ page.previous_page_number }}">{% bootstrap_icon "arrow-left" %}</a>
    </li>
    {% endif %}

    {% for page_number in page.paginator.page_range %}
    <li {% if page.number == page_number %}class="active"{% endif %}>
      <a href="{{ base_path }}/{{ page_number }}">{{ page_number }}</a>
    </li>
    {% endfor %}

    {% if page.has_next %}
    <li>
    <a href="{{ base_path }}/{{ page.next_page_number }}">{% bootstrap_icon "arrow-right" %}</a>
    </li>
    {% endif %}
  </ul>
</div>
{% endif %}
