{% extends "site_base.html" %}
{% load bootstrap3 %}
{% comment %}
This template is copied from the base templates to provide the friends
photos link which is specific to social_project.

NOTE: we don't extend that since it would extend itself and Django will
crash.
{% endcomment %}

{% load i18n %}

{% block body_class %}audiotracks{% endblock %}

{% block subnav %}
    {% if user.is_authenticated %}
        <ul class="nav navbar-nav subnav">
          <li><a href="{% url 'upload_track' %}">{% bootstrap_icon "upload" %} {% trans 'Upload track' %}</a></li>
          <li><a href="{% url 'artist_index' %}">{% bootstrap_icon "list" %} {% trans 'Artists' %}</a></li>                    
        </ul>
        <ul class="nav navbar-nav navbar-right subnav">
          <li><a href="{% url 'user_index' user.username %}">{% bootstrap_icon "user" %} {% trans 'Your tracks' %}</a></li>
        </ul> 
    {% else %}
        &nbsp;
    {% endif %}
{% endblock %}

{% block body %}
{% endblock %}
