{% extends "audiotracks/mediaelement_base.html" %}
{% load i18n %}

{% block head_title %}{% trans 'Latest Tracks' %}{% endblock %}

{% block body %}
<h1>{% block body_title %}{% trans 'Latest Tracks' %}{% endblock %}
  <a title="Atom Feed" class="feed-icon" href="{% if username %}{% url tracks_feed username=username %}{% else %}{% url tracks_feed %}{% endif %}">
  <img src="{{ STATIC_URL }}img/feed-icon.png"/ ></a>
</h1>
{% include 'audiotracks/_track_list.html' %}

{% include '_pagination.html' %}

{% endblock %}
