{% extends "audiotracks/base.html" %}
{% load account_tags %}
{% load tagging_tags %}
{% load comments_tag %}
{% load i18n %}

{% block head_title %}{{ track.title }}{% endblock %}

{% block extra_head %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}audiotracks/audio-player/audio-player.js"></script>  
<script type="text/javascript">  
    AudioPlayer.setup("{{ STATIC_URL }}audiotracks/audio-player/player.swf", {  
        width: 290  
    });  
</script> 
{% endblock %}

{% block body %}
<div class="right_panel">
    {% include "audiotracks/track_right_panel.html" %}
</div>
<div class="left_panel audiotracks-detail">
  {% if track.image %}
  <img src="{{ track.image.url_200x200 }}" />
  {% endif %}
  <h1>
    {{ track.title }}
  </h1>
  <ul class="audiotracks-track-attributes">
    {% if track.artist %}
    <li>
    {% trans 'Artist' %}: {{ track.artist }}
    </li>
    {% endif %}
    {% if track.date %}
    <li>
    {% trans 'Date' %}: {{ track.date }}
    </li>
    {% endif %}
    {% if track.genre %}
    <li>
    {% trans 'Genre' %}: {{ track.genre }} 
    </li>
    {% endif %}
  </ul>
  <div id="audioplayer">
    <audio controls="controls" preload="auto">
      <source  src="{{ track.audio_file.url }}" type="{{ track.mimetype }}">
      Your browser does not support the audio element.  Maybe you should
      consider using <a href="http://www.mozilla.com/firefox/">Firefox</a>, <a
        href="http://www.google.com/chrome">Chrome</a> or <a
        href="http://www.opera.com/browser/">Opera</a>.
    </audio>
  </div>
  <script type="text/javascript">
    var audioTag = document.createElement('audio');
    if (!(audioTag.canPlayType && audioTag.canPlayType("{{ track.mimetype }}"))) {
      AudioPlayer.embed("audioplayer", {
        soundFile: "{{ track.audio_file.url}}",
        animation: "no"
      });
    }
  </script>
  <div class="audiotracks-description">
    {{ track.description }}
  </div>
  <div class="audiotracks-download">
    <a class="border-shadow round-border" href="{{ track.audio_file.url }}">{% trans 'Download Track' %}</a>
  </div>
</div>
<h3>{% trans 'Comments on this track:' %}</h3>
{% comments track %}
{% endblock %}
