{% extends "audiotracks/mediaelement_base.html" %}
{% load account_tags %}
{% load tagging_tags %}
{% load comments_tag %}
{% load i18n %}

{% block head_title %}{{ track.title }}{% endblock %}

{% block body %}
<div class="container">


<div class="right_panel">
    {% include "audiotracks/track_right_panel.html" %}
</div>
<div class="left_panel audiotracks-details js-audiotracks-container">
  <div class="next-previous">
    {% if track.get_previous_by_created_at %}
    <a href="{{ track.get_previous_by_created_at.get_absolute_url }}">&lt;&lt; {% trans 'Previous track' %}</a>
    {% endif %}
    {% if track.get_next_by_created_at %}
    <a class="previous" href="{{ track.get_next_by_created_at.get_absolute_url }}">{% trans 'Next track'  %} &gt;&gt;</a>
    {% endif %}
  </div>
  <div class="audiotracks-details-container">
    {% if track.image %}
    <img src="{{ track.image.url_200x200 }}" class="img-rounded"/>
    {% endif %}
    <h1 class="js-audiotracks-title">
      {{ track.title }}
    </h1>
    <ul class="audiotracks-track-attributes">
      {% if track.artist %}
      <li>
      {% trans 'Artist' %}: {{ track.artist }}
      </li>
      {% endif %}
      {% if track.date %}
      <li>
      {% trans 'Date' %}: {{ track.date }}
      </li>
      {% endif %}
      {% if track.genre %}
      <li>
      {% trans 'Genre' %}: {{ track.genre }} 
      </li>
      {% endif %}
    </ul>
  </div>
  <div id="audioplayer">
    <audio controls="controls" preload="auto">
      <source  src="{{ track.audio_file.url }}" type="{{ track.mimetype }}">
      Your browser does not support the audio element.  Maybe you should
      consider using <a href="http://www.mozilla.com/firefox/">Firefox</a>, <a
        href="http://www.google.com/chrome">Chrome</a> or <a
        href="http://www.opera.com/browser/">Opera</a>.
    </audio>
  </div>
  {% if track.description %}
  <div class="audiotracks-description">
    {{ track.description }}
  </div>
  {% endif %}
  <div class="audiotracks-download">
    <a class="border-shadow round-border" href="{{ track.audio_file.url }}">{% trans 'Download Track' %} ({{ track.audio_file.size|filesizeformat}})</a>
  </div>
</div>
<div class="clear">
<h3><a id="#trackcomments">{% trans 'Comments on this track:' %}</a></h3>
{% comments track %}
</div>
</div>
{% endblock %}

