{% extends "audiotracks/base.html" %}
{% load i18n %}
{% load uni_form_tags %}
{% load override_tags %}

{% block extra_head %}{% endblock %}

{% block body %}
<div class="container">

	<div class="col-md-10 col-md-offset-1">
{% if user.is_authenticated %}
<form class="form-horizontal" id="audiotracks-upload-form" 
      method="POST" enctype="multipart/form-data" action="{% url 'upload_track' %}">
	{% csrf_token %}
	<fieldset>
		<legend>{% trans 'Upload a new track' %}</legend>
		{{ form|as_uni_form }}
	</fieldset>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<input type="hidden" name="action" value="create" />
			<button class="btn btn-primary pull-right"><i class="fa fa-upload"></i> {% trans 'Upload' %}</button>                
  		</div>
	</div>  
</form>
</div>
{% endif %}
	</div>
{% endblock %}

{% block extra_body %}
<script>
$(document).ready( function() {
    $('.btn-file :file').on('change', function(event, numFiles, label) {
    	$(this).parents('.input-group').find(':text').val($(this).val());                       
    });
});	
</script>
{% endblock %}