{% load i18n %}
{% load account_tags %}
{% load avatar_tags %}
{% load tagging_tags %}
{% load theme_tags %}

<div class="toolbox clearfix">
    <div class="photo-avatar"><a href="{% url 'profile_detail' track.user.username %}" title="{% user_display track.user %}">{% avatar track.user.username 50 %}</a></div>
    <div class="photo-profile-details">
      <h2>{% trans "Posted by" %}</h2>
        <a href="{% url 'profile_detail' track.user.username %}" title="{% user_display track.user %}">{% user_display track.user %}</a><br />
        {{ track.created_at|date:"DATE_FORMAT" }}<br />
    </div>
</div>

{% if track.tags or track.user == request.user %}
<div class="toolbox">
    {% if track.tags %}
        <h2>{% silk "tag_blue" %} Tags</h2>
        <ul>
            {% tags_for_object track as tags %}
            {% for tag in tags %}
                <li><a href="/tags/{{ tag }}">{{ tag }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    
    {% if track.user == request.user %}
    <div style="margin-top:1em;">
        <a href="{% url 'edit_track' track.id %}">{% trans 'Edit Track' %}</a><br>
        <a href="{% url 'confirm_delete_track' track.id %}">{% trans 'Delete Track' %}</a>
    </div>
    {% endif %}
    
</div>
{% endif %}

<div class="photo-right-exif">
</div>
