{% extends "artist/base.html" %}
{% load i18n %}

{% block body_class %}audiotracks{% endblock %}

{% block body %}
<div class="container">
<div class="col-md-8 col-md-offset-1">
<h1>Artists</h1>
</div>

{% for column in columns %}
<div class="col-xs-12 col-sm-4 col-md-4 col-md-4">
<ul class="nav nav-pills nav-stacked" style="font-size: 18px">
	{% for artist in column %}
		{% if artist.artist %}
		<li ><a href="{% url 'artist_tracks' artist.artist  %}">{{artist.artist}}<span class="badge pull-right">{{artist.total}}</span></a></li>
		{% endif %}
		{% endfor %} 
</ul>
</div>
{% endfor %}
</div>
{% endblock %}