{% if is_paginated %}
{% load i18n %}

<ul class="pagination pull-right">
	{% if  page_obj.has_previous %}
	<li>
		<a href="?page={{ page_obj.previous_page_number }}{{ getvars }}{{ hashtag }}"><i class="fa fa-arrow-left"></i></a>
	</li>
	{% endif %}
	{% for page in pages %}			
	{% if page %}
	<li {% ifequal page page_obj.number %}class="active"{% endifequal %}>
		<a href="?page={{ page }}{{ getvars }}{{ hashtag }}">{{ page }}</a>
	</li>	          
	{% else %}
	<li><a>...</a></li> 	
	{% endif %}
	{% endfor %}   
  	{% if page_obj.has_next %}
	<li>
        <a href="?page={{ page_obj.next_page_number }}{{ getvars }}{{ hashtag }}"><i class="fa fa-arrow-right"></i></a>
	</li>
    {% endif %}
</ul>
{% endif %}
