{% extends "blog/base.html" %}

{% load i18n %}
{% load uni_form_tags %}

{% block head_title %}{% blocktrans %}Write a Blog Post{% endblocktrans %}{% endblock %}

{% block body %}
    <div class="container">
    {# @@@ not sure how to bring back teaser toggle with uni_form #}
    <div class="col-md-10 col-md-offset-1">
    <form class="form-horizontal" id="edit-profile" method="POST" action="">
        {% csrf_token %}
       
       	{{ blog_form|as_uni_form }}

    	<div class="form-group">
    		<div class="col-sm-offset-2 col-sm-10">
      			<input type="hidden" name="action" value="create" />
                <input type="submit" value="{% trans "create" %}" class="btn btn-default" />
		    </div>
		</div>
    </form>
    </div>
    </div>
{% endblock %}

{% block extra_body %}
    {% load jquery_validation %}
    {% include_validation %}
    <script type="text/javascript">
        $(function(){
            $('#blog_form').validate('{% url 'blog_form_validate' %}', {type: 'table'});
        });
    </script>
{% endblock %}
