{% extends "blog/base.html" %}

{% load i18n %}
{% load humanize %}
{% load account_tags %}
{% load comments_tag %}
{% load tagging_tags %}
{% load blog_tags %}
{% load theme_tags %}
{% load markup_tags %}
{% load override_tags %}

{% block head_title %}{% blocktrans %}Blog Post{% endblocktrans %} : {{ post.title }}{% endblock %}

{% block extra_head %}
<link rel="alternate" type="application/atom+xml" title="Blog Post Feed for All Users" 
href="{% url 'all_blogs_feed' %}" />
<link rel="alternate" type="application/atom+xml" 
    title="Blog Post Feed for User {{ post.author.username }}" 
    href="{% url 'user_blog_feed' post.author.username %}/" />
    <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/pygments.css" />
{% endblock %}

{% block body %}
<div class="container">
<div class="col-md-9 col-md-offset-1">

<div class="blog-meta">
{% ifequal post.author request.user %}
      
        <a href="{% url 'blog_edit' post.id %}" class="btn btn-default btn-sm pull-right"><i class="fa fa-pencil"></i> {% trans 'Edit Post' %}</a>
      
      {% endifequal %} 
      
<p>{% trans 'Posted by' %} 
<a href="{% url 'profile_detail' post.author.username %}">{% user_display post.author %}</a> 
{% trans 'on' %}
  {{ post.publish|date:"DATE_FORMAT" }}
  	<p>     
      {% tags_for_object post as tags %}      
      {% for tag in tags %}
      <a class="badge" href="{% url 'tag_homepage' tag %}"><i class="fa fa-tag"></i> {{ tag }}</a>
      {% endfor %}
      </p>
      
    </div>

      
      
	<div class="blog-post">
	  <h1 class="page-header"> {{ post.title }} </h1>
      {{ post.body|apply_markup:post.markup }}
	</div>
        
    <h3><a id="blogcomments">{% trans 'Comments on this post:' %}</a></h3>
    {% comments post %}
      <p>
        <a href="{% url 'blog_post_source' post.author.username post.slug %}">{% blocktrans %}View source in {% endblocktrans %}{% render_markup_name post %}</a>
      </p>
      </div>
</div>      
{% endblock %}
