{% extends "microblogging/base.html" %}

{% load i18n %}
{% load microblogging_tags %}
{% load pagination_tags %}
{% load account_tags %}
{% load bootstrap3 %}
{% load override_tags %}

{% block head_title %}{% blocktrans %}Friends' Tweets{% endblocktrans %}{% endblock %}

{% block ssnav %}<li><a href="{% url 'tweets_you_follow' %}">{% bootstrap_icon "comment" %} {% trans "Tweets You Follow" %}</a></li>{% endblock %}      

{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-1">
	    	<h1>{% trans "Friends' Tweets" %}</h1>
		{% include 'microblogging/navbar_form.html' %}	    
	    </div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1">
	    {% if object_list %}
	        
	        {% autopaginate object_list %}
	        
	        {% for tweet in object_list %}
	          {% include "microblogging/_tweet.html" %}
	        {% endfor %}
	        
	    {% else %}
	        <p class="lead">{% blocktrans %}No tweets yet.{% endblocktrans %}</p>
	    {% endif %}
	    
	    {% paginate %}
		</div>
		<div class="col-md-3 col-md-offset-1">
			{% include "microblogging/sidebar.html" %}
		</div>		
	</div>
	
</div>    
{% endblock %}
