{% extends "microblogging/base.html" %}

{% load i18n %}
{% load microblogging_tags %}
{% load pagination_tags %}
{% load account_tags %}
{% load override_tags %}

{% block head_title %}{% blocktrans %}Friends' Tweets{% endblocktrans %}{% endblock %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
    <h1>{% trans "Friends' Tweets" %}</h1>
    
    {% if object_list %}
        
        {% autopaginate object_list %}
        
        {% for tweet in object_list %}
          {% include "microblogging/_tweet.html" %}
        {% endfor %}
    {% else %}
        <p>{% blocktrans %}No tweets yet.{% endblocktrans %}</p>
    {% endif %}
    
    {% paginate %}
</div>
</div>
</div>    
{% endblock %}
