{% load i18n %}
{% load oembed_tags %}
{% load pagination_tags %}

{% autopaginate tweets %}

{% if tweets %}
    {% for tweet in tweets %}
        {% include "microblogging/_tweet.html" %}
    {% endfor %}
{% else %}
    {% if are_mine %}
        {% url tweets_you_follow as tweets_url %}
        <p>{% blocktrans %}You haven't posted any <a href="{{ tweets_url }}">tweets</a> yet.{% endblocktrans %}</p>
    {% else %}
        <p>{% blocktrans %}There are currently no tweets to be listed.{% endblocktrans %}</p>
    {% endif %}
{% endif %}

{% paginate %}
