{% load bootstrap3 %}
{% load i18n %}

<form action="{% url 'tweets_you_follow' %}" class="navbar-form navbar-left" method="POST">
    {% csrf_token %}
   	<div class="form-group">
   		<label for="text">{% bootstrap_icon "bullhorn" %} {% blocktrans %}Touiter{% endblocktrans %}</label>
    		<input type="text" autocomplete="off" id="new_tweet" name="text" cols="30" rows="4"/>
</div>
    <input type="submit" class="btn btn-default" value="{% trans 'Bang' %}">
    <!-- set display of tip to none because of space -->
  <span id="chars_hint" style="display: none;">
    <small><span id="chars_left">140</span> caractères restant.</small>
  </span>
</form>