{% extends "microblogging/base.html" %}

{% load i18n %}
{% load microblogging_tags %}
{% load account_tags %}

{% block head_title %}{% blocktrans %}Tweets{% endblocktrans %}{% endblock %}

{% block extra_head %}
<link rel="alternate" type="application/atom+xml" 
title="Tous les touites" 
href="{% url 'all_tweets_feed' %}" />
<link rel="alternate" type="application/atom+xml" 
title="Touites de {% user_display user %}" 
href="{% url 'user_tweets' user.username %}" />
<link rel="alternate" type="application/atom+xml" 
title="Touites de {% user_display user %} et ses amis" 
href="{% url 'user_friends_tweets' user.username %}" />
{% endblock %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-1">
			<h1>{% trans "Touites" %}</h1>
			{% include 'microblogging/navbar_form.html' %}	   
			<p class="lead">{% blocktrans with user.followed.count as follow_count and user.followed.count|pluralize:_("person,people") as follow_name %}
	        These are tweets from the {{ follow_count }} {{ follow_name }} you are following (plus your own){% endblocktrans %}:
	    </p>
		</div>
	</div>
	<div class="row">
	    <div class="col-md-6 col-md-offset-1">	    	    
	    {% tweet_listing tweets 1 0 %}
	    </div>
		<div class="col-md-3 col-md-offset-1">
			{% include "microblogging/sidebar.html" %}
		</div>
	</div>
</div>    
{% endblock %}

{% block extra_body %}
    <script>
        $(document).ready(function() {
            {% if reply %}
            var offset = {{ reply|length }} + 2;
            var textarea = $('#new_tweet')[0];
            if (textarea.setSelectionRange) { // Safari, Firefox
                textarea.setSelectionRange(offset, offset);
            } else if (textarea.createTextRange) { // IE
                var range = textarea.createTextRange();
                range.collapse(true);
                range.moveEnd('character', offset);
                range.moveStart('character', offset);
                range.select();
            }
            {% endif %}
        });
    </script>
{% endblock %}
