{% load i18n %}
{% load microblogging_tags %}
{% load account_tags %}
{% load override_tags %}
{% load bootstrap3 %}

<form id="touite_form" action="{% url 'post_tweet' %}" method="POST" class="form-horizontal">
    {% csrf_token %}
    <input type="hidden" name="success_url" value="{{ request.get_full_path|urlencode  }}">
   	<div class="input-group">
   		<input id="new_tweet" type="text" class="form-control" autocomplete="off" name="text" cols="15" rows="1" 
   		placeholder="{% blocktrans %}Touiter{% endblocktrans %} ..." 
   		data-placement="bottom" data-trigger="focus" 
   		data-content='<span id="chars_left">140</span> caractères restant.</small>' data-html="true"
   		data-animation="false"
   		/>   		
    	<span class="input-group-btn">
    		<button type="submit" class="btn btn-default">{% bootstrap_icon "bullhorn" %} {% trans 'Bang' %}</button>    		
    	</span>
	</div>    
</form>