/* BLOGS */

.blog-post h1 {
    margin-top: 48px;
    margin-bottom: 48px;
    font-size: 48px;
    line-height: 48px;
}

.blog-post h2 {
    color: #00B000;
    margin: 48px 0 24px 0;
}

.blogs h3 {
    color: #00B000;
    margin: 48px 0 24px 0;
}

.blog-post p {
  margin-top: 24px;
  margin-bottom: 24px;
}

.blog-post blockquote p {
    margin-top: 0;
}

.blog-post a {
  text-decoration: underline;
}

.blog-post a:hover {
  color: #009000;
}

.blog-post a:visited {
  color: #00D000;
}


.blog-post-tease {
    width: 500px;
    float: left;
}

.blog-post-meta {
    width: 200px;
    float: left;
    margin-left: 30px;
}

.blog-post-meta img {
    border: 1px solid #666;
}
.blog-list tr.odd {
    background-color: #f3f3f3;
}
.blog-list td {
    vertical-align: top;
    padding: 3px 3px 15px 3px;
}
.blog-list td p {
    padding: 0;
    margin: 0;
}

.blog-post-meta img.noborder {
    border: 0;
}

.blogs .form_block {
  margin: 12px 0;
}
