/*****************************
 * SmeuhSocial custom styles *
 *****************************/

#id_comment {
    width: 98%;
}

#intro-text {
  font-size: 20px;
}

.homepage-item {
    border-bottom: 1px solid #CCC;
}

.homepage-item.first {
    border-top: 1px solid #CCC;
}

@media screen and (min-width: 1200px) {
    #body {
    	max-width: 900px;
    }
    body.home #body {
    	max-width: none;
        width: 100%:
    }
    .homepage-block  {
      width: 18%;
      margin: 0 1.65% 0 0;
    }
    .homepage-block.latest-tweets {
      margin-left: 1.65%;
    }
}

@media screen and (max-width: 1200px) {
  .homepage-photo {
    width: 31%;
    margin: 0 1% 6px 0;
  }
}

@media screen and (min-width: 481px) and (max-width: 1200px) {
  .homepage-block {
    width: 45%;
    margin: 0 0 2% 3.332%;
  }
  .homepage-block.latest-tweets {
    margin-left: 3.332%;
  }
  .photo-block {
      clear: left;
  }
  ul.tabs li {
      font-size: 11px;
    }
    ul.tabs li a {
      padding: 1px 4px;
    }
}

@media screen and (max-width: 480px) {
   #homepage-tweet-form {
     width: 98%;
     margin: auto;
   }
    .logo img {
      /* original size: 272×57 */
        width: 163px;
        height: 34px;
    }
    .homepage-block {
        margin-bottom: 24px;
        width: 100%;
    }
    .homepage-item {
        padding: 1%;
    }
    .homepage-item.odd {
        background-color: #F4FFE8;
    }
    ul.tabs {
    	margin-bottom: 0px;
    }
    ul.tabs li {
    	font-size: 11px;
        padding: 4px 1px;
        display: inline-block;
    }
    ul.tabs li a {
      padding: 1px 2px;
    }
    #tabhead .logo {
        height: 35px;
    }
    #tabhead .login, #right_tabs {
        position: static;
    }
    #tabhead .login {
        margin-bottom: 5px;
    }
}
