{% load i18n %}
{% load compress %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">{% block extra_meta %}{% endblock %}
        <title>{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }} : {% endif %}{% block head_title %}{% endblock %}{% endblock %}</title>
        <!--[if IE]><style>
            div {
                zoom: 1; /* trigger hasLayout */
            }
        </style><![endif]-->
       <!--
         -->

        {% compress css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}uni_form/uni-form.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/base.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/tabs.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/facebox.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/announcements.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/accounts.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/site_tabs.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/avatar.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/blogs.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/comments.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/friends.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/messages.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/microblogging.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/pagination.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/photos.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/tabs.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/topics.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/jquery.autocomplete.css" />

        <link rel="stylesheet" href="{{ STATIC_URL }}audiotracks/css/screen.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap-theme.css" />
        {# <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/override.css" /> #}
        {% endcompress %}

        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.11.1.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.popconfirm.js"></script>
        {# <script type="text/javascript" src="{{ STATIC_URL }}js/microblogging.js"></script> #}

        {% block extra_head_base %}
            {% block extra_head %}{% endblock %}
        {% endblock %}

    </head>

    <body class="{% block body_class %}{% endblock %}">

        {% if site_wide_announcements %}
            <div id="site_wide_announcements">
                <ul>
                    {% for announcement in site_wide_announcements %}
                    <li>
                        <a href="{{ announcement.get_absolute_url }}">{{ announcement }}</a> -
                        <a href="{% url 'announcement_hide' announcement.pk %}?next={{ request.path }}">{% trans "Hide announcement" %}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

      <nav class="navbar navbar-default" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                {% bootstrap_icon "align-justify" %} MENU
              </button>
              <span class="logo" dir="ltr">{% block logo_link_image %}{% endblock %}</span>
            </div>
            <div class="navbar-collapse collapse">
              {% block right_tabs %}{% endblock %}
            </div><!--/.nav-collapse -->
          </div>
       </nav>
       <nav class="navbar-collapse collapse subnav-smeuh">
            <div class="container">
            {% block subnav %}&nbsp;{% endblock %}
            </div>
       </nav><!--/.nav-collapse -->

        {% block body_outer %}
        {% if messages %}
            <div class="container"><div class="row">{% bootstrap_messages %}</div></div>
        {% endif %}
        <!--
        <div id="body-wrapper">
          <div id="body">
          -->
              {% block body %}
              {% endblock %}
           <!--
          </div>
        </div>
         -->
         <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>

        <footer>
         <div class="container">
        {% block footer %}
          <a href="/al/blog/manifeste-mysmeuh">{% trans 'About' %}</a>
          |
          {% blocktrans %}
          Site powered by
          <a href="https://github.com/amarandon/smeuhsocial">SmeuhSocial</a>
          {% endblocktrans %}
          | Bored ? Try <a href="{% url 'fukung' %}">fusmeuh</a>, a fukung-like photo-roulette fed with mysmeuh data !
        {% endblock %}
        {% block locale_switcher %}{% endblock %}
        <div class="pull-right">Icons from <a href="http://GLYPHICONS.com">GLYPHICONS.com</a> / <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a> licence</div>
        </div>
        </footer>
        {% endblock %}

        {% compress js %}
        <script src="{{ STATIC_URL }}pinax/js/base.js" type="text/javascript"></script>
        {# <script src="{{ STATIC_URL }}uni_form/uni-form.jquery.js" type="text/javascript"></script> #}
        {% include "facebox_js.html" %}
        {% endcompress %}
        <script type="text/javascript">
        $(document).ready(function(){
            $(window).scroll(function () {
                   if ($(this).scrollTop() > 50) {
                       $('#back-to-top').fadeIn();
                   } else {
                       $('#back-to-top').fadeOut();
                   }
               });
               // scroll body to 0px on click
               $('#back-to-top').click(function () {
                   $('#back-to-top').tooltip('hide');
                   $('body,html').animate({
                       scrollTop: 0
                   }, 800);
                   return false;
               });

             $('#back-to-top').tooltip('show');

             $("a[href^='http']").attr('target','_blank');

       });</script>
        {% block extra_body_base %}
            {% block extra_body %}{% endblock %}
        {% endblock %}
    </body>
</html>
