{% load i18n %}
{% load compress %}
<!DOCTYPE html>
<html dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }} : {% endif %}{% block head_title %}{% endblock %}{% endblock %}</title>
        <!--[if IE]><style>
            div {
                zoom: 1; /* trigger hasLayout */
            }
        </style><![endif]-->
        {% compress css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/base.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/tabs.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/facebox.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/announcements.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/accounts.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}uni_form/uni-form.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/site_tabs.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/avatar.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/blogs.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/comments.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/friends.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/messages.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/microblogging.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/pagination.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/photos.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/tabs.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/topics.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/jquery.autocomplete.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}audiotracks/mediaelement/mediaelementplayer.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}audiotracks/css/screen.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/override.css" />
        {% endcompress %}
        {% block extra_head_base %}
            {% block extra_head %}{% endblock %}
        {% endblock %}
    </head>
    
    <body class="{% block body_class %}{% endblock %}">
        {% if site_wide_announcements %}
            <div id="site_wide_announcements">
                <ul>
                    {% for announcement in site_wide_announcements %}
                    <li>
                        <a href="{{ announcement.get_absolute_url }}">{{ announcement }}</a> -
                        <a href="{% url announcement_hide announcement.pk %}?next={{ request.path }}">{% trans "Hide announcement" %}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        
        <div id="tabhead">
          <div class="logo" dir="ltr">{% block logo_link_image %}{% endblock %}</div>
            <div class="login">{% block login %}{% endblock %}<div style="text-align: right;"></div></div>
            <div id="left_tabs" >{% block left_tabs %}{% endblock %}</div>
            <div id="right_tabs" >{% block right_tabs %}{% endblock %}</div>
        </div>
        <div id="subnav" class="clearfix">{% block subnav_base %}<div class="clearfix">{% block subnav %}&nbsp;{% endblock %}</div>{% endblock %}</div>
        
        {% block body_outer %}
        <div id="body-wrapper">
          <div id="body">
              {% if messages %}
                  <ul id="messages">
                      {% for message in messages %}
                      <li id="message_{{ forloop.counter }}"{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                          <a href="#"><small>{% trans "clear" %}</small></a>
                          {{ message }}
                      </li>
                      {% endfor %}
                  </ul>
              {% endif %}
              
              {% block body %}
              {% endblock %}
          </div>
        </div>
        <footer>
        {% block footer %}
          <a href="/al/blog/manifeste-mysmeuh">{% trans 'About' %}</a>
          |
          {% blocktrans %}
          Site powered by 
          <a href="https://github.com/alex-marandon/smeuhsocial">SmeuhSocial</a>
          {% endblocktrans %}
        {% endblock %}
        {% block locale_switcher %}{% endblock %}
        </footer>
        {% endblock %}
        
        
        {% compress js %}
        <script src="{% block jquery_src %}{{ STATIC_URL }}pinax/js/jquery-1.7.1.min.js{% endblock %}" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}pinax/js/base.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}uni_form/uni-form.jquery.js" type="text/javascript"></script>
        {% include "facebox_js.html" %}
        {% block extra_body_base %}
            {% block extra_body %}{% endblock %}
        {% endblock %}
        {% include 'audiotracks/_player_assets.html' %}
        {% endcompress %}
    </body>
</html>
