{% load i18n %}
{% comment %}

these are sub navigation items we want the users to see the more so they click the more

can be a default subnav in many case. Especially the case you don't have any subnav to show :)

{% endcomment %}
{% if user.is_authenticated %}    
        <ul class="nav navbar-nav subnav">
            <li><a href="{% url 'photo_upload' %}"><i class="fa fa-upload"></i>  {% trans "Upload a Photo" %}</a></li>
            <li><a href="{% url 'upload_track' %}"><i class="fa fa-upload"></i> {% trans 'Upload track' %}</a></li>
          	<li><a href="{% url 'blog_new' %}"><i class="fa fa-pencil"></i> {% trans "Write a Blog Post" %}</a></li>            
        </ul>       
{% else %}
   
{% endif %}