{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}
{% load threadedcommentstags %}
{% load override_tags %}
{% load avatar_tags %}
{% load group_tags %}
{% load blog_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block extra_head %}
<link rel="alternate" type="application/rss+xml" 
title="Touites" href="{% url all_tweets_feed %}" />
<link rel="alternate" type="application/rss+xml" 
title="Photos" href="{% url all_photos_feed %}" />
<link rel="alternate" type="application/rss+xml" 
title="Commentaires" href="{% url all_comments_feed %}" />
<link rel="alternate" type="application/rss+xml" 
title="Tracks" href="{% url tracks_feed %}" />
<link rel="alternate" type="application/rss+xml" 
title="Blogs" href="{% url all_blogs_feed %}" />
{% endblock %}

{% block body %}

{% if not user.is_authenticated %}
<div id="intro-text">
  <h1>{% trans 'This is your Smeuh' %}</h1>
  <p>
  {% blocktrans %}
  This site is a platform for members and friends of <a
    href="http://smeuh.org/">Smeuh.org</a> to share pictures, sound and ideas.
  {% endblocktrans %}
    {% if not user.is_authenticated %}
      {% url acct_login as login_url %}
      {% ifsetting ACCOUNT_OPEN_SIGNUP %}
      {% url acct_signup as signup_url %}
      {% blocktrans %}You can <a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">Log in</a> to try out the site.{% endblocktrans %}
      {% else %}
      {% blocktrans %}You can <a href="{{ login_url }}">Log in</a> to try out the site.{% endblocktrans %}
      {% endifsetting %}
    {% endif %}
  {% blocktrans %}
  To know more about the code that runs this site, report bugs and maybe
  contribute, please check <a
    href="https://github.com/alex-marandon/smeuhsocial">the GitHub
    repository</a>.
  {% endblocktrans %}
  </p>

</div>
{% endif %}

<div class="homepage-block latest-tweets">
  <h2>
    <a title="Atom Feed" href="{% url all_tweets_feed %}"><img alt="Feed Icon" src="{{ STATIC_URL }}img/feed-icon.png"></a>
    <a href="{% url all_tweets %}">{% blocktrans %}Touites{% endblocktrans %}</a>
  </h2>
  {% if user.is_authenticated %}
  <div id="homepage-tweet-form">
    <form action="{% url tweets_you_follow %}" method="POST">
      {% csrf_token %}
      <input type="text" autocomplete="off" id="new_tweet" name="text" cols="30" rows="4"/>

      <input type="submit" value="{% trans 'Bang' %}">
      <span id="chars_hint">
        <span id="chars_left">140</span> caractères restant.
      </span>
    </form>
  </div>
  {% endif %}
  {% for tweet in latest_tweets %}
  <div class="tweet-item homepage-item {% if forloop.first %} first{% endif %}{% cycle ' odd' '' %} clearfix">
    {% avatar_link tweet.sender 24 %}
    {% include "microblogging/_tweet.html" %}
  </div>
  {% endfor %}
</div>

{% get_latest_comments 10 as latest_comments %}
<div class="homepage-block">
  <h2>
    <a title="Atom Feed" href="{% url all_comments_feed %}"><img  alt="Feed Icon"
      src="{{ STATIC_URL }}img/feed-icon.png"></a>
    {% blocktrans %}Comments{% endblocktrans %}
  </h2>
{% for comment in latest_comments %}
{% if comment.content_object %}
<div class="latest-comment-entry homepage-item{% if forloop.first %} first{% endif %} {% cycle 'odd' '' %}">
  <div >
    {% avatar_link comment.user 24 %}
    {% profile_link comment.user %} {% trans ' on ' %} <a href="{{ comment.content_object.get_absolute_url }}">{{ comment.content_object.title }}</a> 
    <span class="comment-blurb-date">{% blocktrans with comment.date_modified|timesince as tweet_age %}{{ tweet_age }} ago{% endblocktrans %}</span>
  </div>

  <div class="comment-blurb">{{ comment.comment|truncatewords:30|urlize|profilize }}</div>
</div>
{% endif %}
{% endfor %}
</div>

<div class="homepage-block photo-block">
  <h2>
    <a title="Atom Feed" href="{% url all_photos_feed %}"><img alt="Feed Icon"
      src="{{ STATIC_URL }}img/feed-icon.png"></a>
    <a href="{% url photos %}">{% blocktrans %}Photos{% endblocktrans %}</a>
  </h2>
  <div class="photos">
    {% for photo in latest_photos%}
    <a href="{% groupurl photo_details group id=photo.id %}"><img
      class="homepage-photo border-shadow{% cycle '' ' even' %}" src="{{ photo.get_thumbnail_url|urlencode }}" alt="{{ photo.title }}"></a>
    {% endfor %}
  </div>
</div>
<div class="homepage-block latest-tracks">
  <h2>
    <a title="Atom Feed" href="{% url tracks_feed %}"><img alt="Feed Icon"
      src="{{ STATIC_URL }}img/feed-icon.png"></a>
    <a href="{% url audiotracks %}">
      {% blocktrans %}Tunes{% endblocktrans %}
    </a>
  </h2>
  {% for track in latest_tracks%}
  <div class="clearfix homepage-item{% if forloop.first %} first{% endif %}{% cycle ' odd' '' %}">
    {% avatar_link track.user 24 %}
    <a href="{{ track.get_absolute_url }}">{{ track.title }}</a> 
    {% trans 'by' %} {% profile_link track.user %}<br>
  </div>
  {% endfor %}
</div>
<div class="homepage-block latest-blogs">
  <h2>
    <a title="Atom Feed" href="{% url all_blogs_feed %}"><img alt="Feed Icon"
      src="{{ STATIC_URL }}img/feed-icon.png"></a>
    <a href="{% url blog_list_all %}">
      {% blocktrans %}Blogs{% endblocktrans %}
    </a>
  </h2>
  {% for blog_post in latest_blogs%}
  <div class="clearfix homepage-item{% if forloop.first %} first{% endif %}{% cycle ' odd' '' %}">
    {% avatar_link blog_post.author 24 %}
    <a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a> 
    {% trans 'by' %} {% profile_link blog_post.author %}<br>
  </div>
  {% endfor %}
</div>

{% endblock %}
{% block extra_body %}
<script type="text/javascript" src="{{ STATIC_URL }}js/microblogging.js"></script>
{% endblock %}
