{% extends "base.html" %}

{% load i18n %}
{% load analytics %}

{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block logo_link_image %}<a href="{% url 'home' %}"><img title="Logo MySmeuh" src="{{ STATIC_URL }}pinax/img/logo.gif" /></a>{% endblock %}

{% block login %}
    {% include "_account_bar.html" %}
{% endblock %}

{% block locale_switcher %}
    <form action="{% if request.user.is_authenticated %}{% url 'acct_language_change' %}{% else %}/i18n/setlang/{% endif %}" method="post" id="locale_switcher">
        {% csrf_token %}
        <select name="language" onchange="$('#locale_switcher').submit()">
            {% for lang in LANGUAGES %}
                <option value="{{ lang.0 }}"{% ifequal lang.0 LANGUAGE_CODE %} selected="selected"{% endifequal %}>{{ lang.1 }}</option>
            {% endfor %}
        </select>
    </form>
{% endblock %}

{% block right_tabs %}
    {% if user.is_authenticated %}
        <ul class="tabs">{% spaceless %}
            <li id="tab_profile"><a href="{% url 'profile_detail' user.username %}">{% trans "Profile" %}</a></li>
            <li id="tab_photos"><a href="{% url 'photos' %}">{% trans "Photos" %}</a></li>
            <li id="tab_audiotracks"><a href="{% url 'audiotracks' %}">{% trans "Music" %}</a></li>
            <li id="tab_tweets"><a href="{% url 'tweets_you_follow' %}">{% trans "Tweets" %}</a></li>
            <li id="tab_blogs"><a href="{% url 'blog_list_all' %}">{% trans "Blogs" %}</a></li>
            <li id="tab_tags"><a href="{% url 'tagging_ext_index' %}">{% trans "Tags" %}</a></li>
            <li id="tab_inbox"><a href="{% url 'messages_inbox' %}">{% trans "Messages" %} ({{ combined_inbox_count }})</a></li>
        {% endspaceless %}</ul>
    {% endif %}
{% endblock %}

{% block extra_body_base %}
    <script type="text/javascript" src="{{ STATIC_URL }}pinax/js/topics.js"></script>
    {% block extra_body %}{% endblock %}
{% endblock %}
