{% extends "base.html" %}

{% load i18n %}
{% load analytics %}
{% load ifsetting_tag account_tags openid_tags %}

{% load avatar_tags %}

{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block logo_link_image %}<a href="{% url 'home' %}" rel="home"><img alt="Logo MySmeuh" src="{{ STATIC_URL }}pinax/img/logo.gif" class="img-responsive" /></a>{% endblock %}

{% block login %}
    {% include "_account_bar.html" %}
{% endblock %}

{% block locale_switcher %}
    <form action="{% if request.user.is_authenticated %}{% url 'acct_language_change' %}{% else %}/i18n/setlang/{% endif %}" method="post" id="locale_switcher">
        {% csrf_token %}
        <select name="language" onchange="$('#locale_switcher').submit()">
            {% for lang in LANGUAGES %}
                <option value="{{ lang.0 }}"{% ifequal lang.0 LANGUAGE_CODE %} selected="selected"{% endifequal %}>{{ lang.1 }}</option>
            {% endfor %}
        </select>
    </form>
{% endblock %}

{% block right_tabs %}
        <ul class="nav navbar-nav main-nav">         
            <li {% block nav_news_li %}{% endblock %}><a href="{% url 'timeline' %}" title="{% trans "News" %}"><i class="fa fa-bullhorn"></i> <span class="visible-xs-inline-block">{% trans "News" %}</span></a></li>
            <li {% block nav_photos_li %}{% endblock %}><a href="{% url 'photos' %}" title="{% trans "Photos" %}"><i class="fa fa-camera"></i> <span class="visible-xs-inline-block">{% trans "Photos" %}</span></a></li>
            <li {% block nav_tracks_li %}{% endblock %}><a href="{% url 'audiotracks' %}" title="{% trans "Music" %}" ><i class="fa fa-headphones"></i> <span class="visible-xs-inline-block">{% trans "Music" %}</span></a></li>
            <li {% block nav_blogs_li %}{% endblock %}><a href="{% url 'blog_list_all' %}" title="{% trans "Blogs" %}" ><i class="fa fa-pencil"></i> <span class="visible-xs-inline-block">{% trans "Blogs" %}</span></a></li>
            <li {% block nav_tags_li %}{% endblock %}><a href="{% url 'tagging_ext_index' %}" title="{% trans "Tags" %}"><i class="fa fa-tags"></i> <span class="visible-xs-inline-block">{% trans "Tags" %}</span></a></li>                               
        </ul>
    {% if user.is_authenticated %}       
        <ul class="nav navbar-nav navbar-right">
        	<li class="dropdown">
		        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="{% user_display user %}">
	         		<img src="{% avatar_url user 28 %}" alt="Photo of {{ user }}" class="img-rounded" />
		         		<strong class="hidden-sm">{% user_display user %} 
		         		{% if combined_inbox_count > 0 %} <span class="badge">{{ combined_inbox_count }}</span> {% endif %}
		         		</strong>
	         		<span class="caret"></span>
		         </a>
		         <ul class="dropdown-menu" role="menu">
	               <li><a href="{% url 'messages_inbox' %}"><i class="fa fa-envelope-o"></i> {% if combined_inbox_count > 0 %} <strong>{% endif %} {% trans "Messages" %}  {% if combined_inbox_count > 0 %} <span class="badge">{{ combined_inbox_count }}</span></strong> {% endif %}</a></li>
		           <li class="divider"></li>	           
		           <li><a href="{% url 'profile_detail' user.username %} "><i class="fa fa-user"></i> {% trans "Your Profile" %}</a></li>
	               <li><a href="{% url 'profile_list' %} "><i class="fa fa-users"></i> {% trans "All Profiles" %}</a></li>
		           <li class="divider"></li>
		           <li><a href="{% url 'photos_yours' %}"><i class="fa fa-camera"></i> {% trans "Your Photos" %}</a></li>
		           <li><a href="{% url 'user_index' user.username %}"><i class="fa fa-headphones"></i> {% trans 'Your tracks' %}</a></li>
		           <li><a href="{% url 'blog_list_yours' %}"><i class="fa fa-pencil"></i> {% trans "Your Posts" %}</a></li>
	               <li class="divider"></li>	           
		           <li><a href="{% url 'acct_email' %}"><i class="fa fa-wrench"></i> {% trans "Account" %}</a></li>
		           {% if user.is_staff %}
	               <li class="divider"></li>
			       <li><a href="{% url 'admin:index' %}"><i class="fa fa-wrench"></i> Admin</a></li>
				   {% endif %}		           
		           <li class="divider"></li>	                
		           <li><a href="{% if request.openid %}/openid/logout/?next={% url 'acct_logout' %}{% else %}{% url 'acct_logout' %}{% endif %}"><i class="fa fa-sign-out logout-action"></i> {% trans 'Logout' %}</a></li>
		    	</ul>
		 	</li>   
        </ul>
    {% else %}      
    	<ul class="nav navbar-nav navbar-right">    	
            <li class="active"><a href="{% url 'acct_login' %}"><i class="fa fa-sign-in"></i>  {% trans "Log in" %}</a></li>
            <li><a>{% trans "or" %}</a></li>       
    		<li class="active"><a href="{% url 'acct_signup' %}" class="active"><strong><i class="fa fa-plus"></i> {% trans "Sign Up" %}</strong></a></li>
    	</ul>
    {% endif %}
{% endblock %}

{% block extra_body_base %}
    <script type="text/javascript" src="{{ STATIC_URL }}pinax/js/topics.js"></script>
    {% block extra_body %}{% endblock %}
{% endblock %}
