{% extends "audiotracks/mediaelement_base.html" %}

{% load i18n %}
{% load account_tags %}
{% load avatar_tags %}
{% load uni_form_tags %}
{% load microblogging_tags %}
{% load blog_tags %}
{% load tagging_tags %}
{% load photo_tags %}
{% load threadedcommentstags %}

{% block body_class %}profile{% endblock %}

{% block subnav %}
    {% if user.is_authenticated %}
        <ul class="nav navbar-nav subnav" >
            <li><a href="{% url 'profile_detail' user.username %} "><i class="fa fa-user"></i> {% trans "Your Profile" %}</a></li>
            <li><a href="{% url 'profile_list' %} "><i class="fa fa-list"></i> {% trans "All Profiles" %}</a></li>            
        </ul>
    {% else %}
        &nbsp;
    {% endif %}
{% endblock %}
