{% extends "site_base.html" %}

{% load i18n %}

{% load bootstrap3 %}

{% block head_title %}Notices{% endblock %}

{% block body_class %}inbox{% endblock %}

{% block subnav %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'messages_compose' %} ">{% bootstrap_icon "pencil" %}  {% trans "Compose" %}</a></li>
        <li><a href="{% url 'messages_inbox' %} ">{% bootstrap_icon "envelope" %} {% if messages_inbox_count %}<strong>{% endif %} {% trans "Inbox" %} {% if messages_inbox_count %}</strong> <span class="badge">{{ messages_inbox_count }}</span>{% endif %}</a></li>
        <li><a href="{% url 'notification_notices' %}">{% bootstrap_icon "flag" %}  {% trans "Notices" %}{% if notice_unseen_count %}  <span class="badge">{{ notice_unseen_count }}</span>{% endif %}</a></li>
        <li><a href="{% url 'invitations' %}">{% bootstrap_icon "heart-empty" %} {% if invitations_count %}<strong>{% endif %} {% trans "Invitations" %}{% if invitations_count %}</strong> <span class="badge">{{ invitations_count }}</span>{% endif %}</a></li>
        
       <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "More" %} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">          
          	<li><a href="{% url 'messages_outbox' %} ">{% bootstrap_icon "send" %} {% trans "Sent" %}</a></li>
            <li class="divider"></li>
        	<li><a href="{% url 'messages_trash' %}">{% bootstrap_icon "trash" %} {% trans "Trash" %}</a></li>
	        {% comment %}
	        <li><a href="{% url 'invitations_contacts' %}">{% bootstrap_icon "list" %} {% trans "Contacts" %}</a></li>
	        {% endcomment %}
          </ul>
        </li>
        
        
    </ul>
{% endblock %}
