{% extends "site_base.html" %}
{% load bootstrap3 %}
{% comment %}
This template is copied from the base templates to provide the friends
photos link which is specific to social_project.

NOTE: we don't extend that since it would extend itself and Django will
crash.
{% endcomment %}

{% load i18n %}

{% block body_class %}photos{% endblock %}

{% block subnav %}
    {% if user.is_authenticated %}    
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'photo_upload' %}">{% bootstrap_icon "upload" %}  {% trans "Upload a Photo" %}</a></li>
            <li><a href="{% url 'photo_most_viewed' %}">{% bootstrap_icon "star" %} {% trans "Most Viewed" %}</a></li>
            <li><a href="{% url 'photos_yours' %}">{% bootstrap_icon "user" %} {% trans "Your Photos" %}</a></li>
            <li><a href="{% url 'friends_photos' %}">{% bootstrap_icon "heart" %} {% trans "Friends' Photos" %}</a></li>
        </ul>       
    {% else %}
        &nbsp;
    {% endif %}
{% endblock %}
