{% extends "photos/base.html" %}
{% load i18n %}
{% load humanize %}
{% load account_tags %}
{% load tagging_tags %}
{% load comments_tag %} 
{% load photo_tags %} 
{% load theme_tags %} 
{% load avatar_tags %}
{% load bootstrap3 %}

{% block head_title %}{{ photo.title }}{% endblock %} 

{% block login %}{% endblock %}

{% block body %}


<div class="container">	
	
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<h1>{{ photo.title }}</h1>		
		</div>
	</div>

	<div class="row">	
	
		<div class="col-xs-12 col-md-6">
		 <div class="next-previous">
          {% if previous_photo_id %}
          <a href="{% url 'photo_details' previous_photo_id %}" class="btn btn-default btn-sm">{% bootstrap_icon "backward" %} {% trans 'Previous picture' %}</a>
          {% endif %}
          {% if next_photo_id %}
          <a class="btn btn-default btn-sm gallery-previous" href="{% url 'photo_details' next_photo_id %}" >{% trans 'Next picture' %} {% bootstrap_icon "forward" %}</a>
          {% endif %}
        </div>
		
			<a href="{{ photo.image.url }}"><img class="img-responsive img-rounded " src="{{ photo_url }}" alt="{{ photo.title }}" /></a>		
		</div>
		
		<div class="col-xs-12 col-md-6">			
			
			<div class="photo-avatar">
				<a href="{% url 'profile_detail' photo.member.username %}"
					title="{% user_display photo.member %}">{% avatar photo.member.username 50 %}</a>
			</div>
	
			{% trans "Posted by" %} <a href="{% url 'profile_detail' photo.member.username %}"title="{% user_display photo.member %}">{% user_display	photo.member %}</a>  
			- <small>{{ photo.date_taken|date:"DATE_FORMAT" }}</small>
			<p>{% blocktrans with photo.view_count as view_count %}Viewed {{ view_count }} times{% endblocktrans %}</p>			
			
			{% if photo.tags %}
				<p>
				{% bootstrap_icon "tag" %}
				{% tags_for_object photo as tags %}
	            {% for tag in tags %}
	                <a href="/tags/{{ tag }}">{{ tag }}</a>
	            {% endfor %}
	           	</p>
	   		{% else %}
	           	<div class="panel warning">
  					<div class="panel-body">   
       {% blocktrans %}
       The person who posted this picture is a huge Sarah Palin fan who hasn't
       added any tag.
       {% endblocktrans %}
  					</div>
	        	</div>
	   		{% endif %}            
			{% if is_me %}
			<a href="{% url 'photo_edit' id=photo.id %}" class="btn btn-default">{% bootstrap_icon "pencil" %} {% trans 'Edit Photo' %}</a>						
			{% endif %}
			<p class="lead">{{ photo.caption|urlize }}</p>
																					
		</div>
												
	</div>	
	
	<div class="row">
		<div class="col-md-10">
			<h4><a name="photocomments"> {% blocktrans %}Comments on this photo:{% endblocktrans %}</a></h4>
			{% comments photo %}
		</div>
	</div>
	
</div>

{% endblock %} {% block extra_body %}
<script type="text/javascript">
	$(document).ready(function() {
		$('#embed-code').hide();
		$('#embed-code-toggle').click(function() {
			$('#embed-code').toggle();
			return false;
		})
	});
</script>
{% endblock %}
