{% extends "photos/base.html" %}
{% load i18n %}
{% load humanize %}
{% load account_tags %}
{% load tagging_tags %}
{% load comments_tag %} 
{% load photo_tags %} 
{% load theme_tags %} 
{% load avatar_tags %}
{% load bootstrap3 %}

{% block head_title %}{{ photo.title }}{% endblock %} 

{% block login %}{% endblock %}

{% block body %}
<div class="container">		

	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1">
			<ul class="pager photo-pager">
				  {% if previous_photo_id %}
				  <li class="previous">
				  	<a href="{% url 'photo_details' previous_photo_id %}" title="{% trans 'Previous picture' %}">{% bootstrap_icon "arrow-left" %} <span class="hidden-xs">{% trans 'Previous picture' %}</span></a>
				  </li>
			      {% endif %}
			      {% if next_photo_id %}
				  <li class="next">
				  	<a  href="{% url 'photo_details' next_photo_id %}" title="{% trans 'Next picture' %}"><span class="hidden-xs">{% trans 'Next picture' %}</span>  {% bootstrap_icon "arrow-right" %}</a>
				  </li>			  			 
			      {% endif %}			  
			</ul>
		</div>		
	</div>
	
	<div class="row">		
		<div class="col-xs-12 col-sm-8 col-md-6 col-md-offset-1">							
			<a href="{{ photo.image.url }}"><img class="img-responsive img-rounded center-block photo-details" src="{{ photo_url }}" alt="{{ photo.title }}" style="max-height: 640px;" /></a>		
		</div>
		
		<div class="col-xs-12 col-sm-4 col-md-4">						
			<h1>{{ photo.title }}</h1>		
			<p>
				{% trans "Posted by" %} <a href="{% url 'profile_detail' photo.member.username %}"title="{% user_display photo.member %}">{% avatar photo.member.username 24 %} <strong>{% user_display	photo.member %}</strong></a>  
				- <small>{{ photo.date_taken|date:"DATE_FORMAT" }}</small>
			 	- <small>{% blocktrans with photo.view_count as view_count %}Viewed {{ view_count }} times{% endblocktrans %}</small>								
			</p>			
			
			{% if photo.tags %}
				<p class="text-right">
				{% bootstrap_icon "tag" %}
				{% tags_for_object photo as tags %}
	            {% for tag in tags %}
	                <a href="/tags/{{ tag }}">{{ tag }}</a>
	            {% endfor %}
	           	</p>
	   		{% else %}
	           	<div class="panel warning">
  					<div class="panel-body">   
       {% blocktrans %}
       The person who posted this picture is a huge Sarah Palin fan who hasn't
       added any tag.
       {% endblocktrans %}
  					</div>
	        	</div>
	   		{% endif %}            
			<p class="lead">{{ photo.caption|urlize }}</p>
							{% if is_me %}
				<a href="{% url 'photo_edit' id=photo.id %}" class="btn btn-sm btn-default pull-right" title="{% trans 'Edit Photo' %}">{% bootstrap_icon "pencil" %} {% trans 'Edit Photo' %}</a>						
			{% endif %}														
		</div>
		
		
		
												
	</div>	
	
	<div class="row">
		<div class="col-md-10 block-comment col-md-offset-1">
			<h4><a name="photocomments"> {% blocktrans %}Comments on this photo:{% endblocktrans %}</a></h4>
			{% comments photo %}
		</div>
	</div>
	
</div>

{% endblock %} {% block extra_body %}
<script type="text/javascript">
	$(document).ready(function() {
		$('#embed-code').hide();
		$('#embed-code-toggle').click(function() {
			$('#embed-code').toggle();
			return false;
		})
	});
</script>
{% endblock %}
