{% load i18n %}
{% load account_tags %}
{% load avatar_tags %}
{% load tagging_tags %}
{% load theme_tags %}

<div class="toolbox clearfix">
    <div class="photo-avatar"><a href="{% url 'profile_detail' photo.member.username %}" title="{% user_display photo.member %}">{% avatar photo.member.username 50 %}</a></div>
    <div class="photo-profile-details">
      <h2>{% trans "Posted by" %}</h2>
        <a href="{% url 'profile_detail' photo.member.username %}" title="{% user_display photo.member %}">{% user_display photo.member %}</a><br />
        {{ photo.date_taken|date:"DATE_FORMAT" }}<br />
        {% blocktrans with photo.view_count as view_count %}Viewed {{ view_count }} times{% endblocktrans %}
    </div>
</div>

<div class="toolbox">
    {% if photo.tags %}
        <h2>{% silk "tag_blue" %} Tags</h2>
        <ul>
            {% tags_for_object photo as tags %}
            {% for tag in tags %}
                <li><a href="/tags/{{ tag }}">{{ tag }}</a></li>
            {% endfor %}
        </ul>
        
        <div class="embed">
        <a href="#" id="embed-code-toggle">{% trans "Get Embed Code" %}</a>
             <div id="embed-code" style="display: none;">
                <textarea>
                    <a href="{{ host }}/photos/details/{{ photo.id }}"><img src="{{ host }}/{{ photo_url }}" alt="{{ photo.title }}"/></a>
                </textarea>
            </div>
        </div>
        
    {% else %}
        {% blocktrans %}
        The person who posted this picture is a huge Sarah Palin fan who hasn't
        added any tag.
        {% endblocktrans %}
    {% endif %}
    
    {% if is_me %}
      <div class="delete-photo">
          <form action="{% url 'photo_destroy' id=photo.id %}" method="POST">
              {% csrf_token %}
              <input type="image" src="{{ STATIC_URL }}pinax/img/silk/icons/delete.png" border="0" title="{% trans "Delete Photo" %}" /><label>{% trans 'Delete Photo' %}</label>
                          <input type="hidden" name="action" value="delete"/>
          </form>
      </div>
        
        <a href="{% url 'photo_edit' id=photo.id %}">{% trans 'Edit Photo' %}</a>
        
    {% endif %}
    
</div>

<div class="photo-right-exif">
</div>
