 {% load i18n %}
 {% load account_tags %}
 {% load threadedcommentstags %}
 {% load avatar_tags %}
 
 <div class="gallery-photo-thumb">
    <a href="{% url 'photo_details' id=photo.id %}" ><img
      class="border-shadow img-rounded" src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}" title="{{ photo.title }} - {% trans 'Posted by' %} {% user_display photo.member %}"/></a><br />      
    <small>
    
    {% comment %}
    <a href="{% url 'profile_detail' photo.member.username %}"title="{% trans 'Posted by' %} {% user_display photo.member %}" data-toggle="tooltip" data-placement="bottom">{% avatar photo.member.username 16 %}</a>
    {% endcomment %}
    
    <a href="{% url 'photo_details' id=photo.id %}#photocomments" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-comment"></i> {% get_comment_count for photo as commentcount %} {{ commentcount }} </a>
    
    <i class="fa fa-eye"></i> {% blocktrans with photo.view_count as view_count %}  {{ view_count }} {% endblocktrans %}    
    
    {% ifequal photo.member request.user %}    
    <a href="{% url 'photo_edit' id=photo.id %}"><i class="fa fa-pencil"></i></a>
    {% endifequal %}
    
    </small>           
</div>