 {% load i18n %}
 {% load account_tags %}
 {% load bootstrap3 %}
 {% load threadedcommentstags %}
 
 <div class="gallery-photo-thumb">
    <a href="{% url 'photo_details' id=photo.id %}" ><img
      class="border-shadow img-rounded" src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}"/></a><br />
      
    {% trans 'Posted by' %} <a href="{% url 'profile_detail' photo.member.username %}">{% user_display photo.member %}</a><br />
    <small>
    
    <a href="{% url 'photo_details' id=photo.id %}#photocomments">{% bootstrap_icon "comment" %} {% get_comment_count for photo as commentcount %} {{ commentcount }} </a>
    
    {% bootstrap_icon "eye-open" %} {% blocktrans with photo.view_count as view_count %}  {{ view_count }} {% endblocktrans %}    
    
    {% ifequal photo.member request.user %}    
    <a href="{% url 'photo_edit' id=photo.id %}">{% bootstrap_icon "pencil" %}</a>
    {% endifequal %}
    
    </small>           
</div>