{% extends "photos/base.html" %}

{% load i18n %}

{% load uni_form_tags %}

{% block head_title %}{% blocktrans %}Latest Photos{% endblocktrans %}{% endblock %}

{% block body %}
<div class="container">
    <form class="form-horizontal" role="form" id="edit-profile" method="POST" enctype="multipart/form-data" action="">
        {% csrf_token %}
        
        {{ photo_form|as_uni_form }}
                    
        <div class="form-group">
    		<div class="col-sm-offset-2 col-sm-10">
      			<input type="hidden" name="action" value="upload" />
                <input type="submit" value="{% trans "Upload" %}" class="btn btn-default" />
		    </div>
		</div>
        
    </form>
</div>
{% endblock %}