{% extends "audiotracks/mediaelement_base.html" %}

{% load i18n %}
{% load account_tags %}
{% load override_tags %}
{% load bootstrap3 %}

{% block head_title %}{% trans "Homepage" %}{% endblock %}

{% block subnav %}
{% include "call_to_action.html" %}
{% endblock %}

{% block body %}
<div class="container">
	{% block touiteform %}
	<div class="row">
		<div class="col-xs-12">
			<form id="touite_navbar_form" action="{% url 'tweets_you_follow' %}" method="POST" class="form-horizontal">
			    {% csrf_token %}
			   	<div class="input-group">
			   		<input id="new_tweet" type="text" class="form-control" autocomplete="off" name="text" cols="15" rows="1" 
			   		placeholder="{% blocktrans %}Touiter{% endblocktrans %} ..." 
			   		data-placement="bottom" data-trigger="focus" 
			   		data-content='<span id="chars_left">140</span> caractères restant.</small>' data-html="true"
			   		data-animation="false"
			   		/>
			    	<span class="input-group-btn">
			    		<button type="submit" class="btn btn-default">{% bootstrap_icon "bullhorn" %} {% trans 'Bang' %}</button>    		
			    	</span>
				</div>    
			</form>	
		</div>		
	</div>
	{% endblock %}
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-6">
			{% block newsblock %}
			{% if timelineitems %}
			<h4>
				<a>
					<img alt="Feed Icon" src="{{ STATIC_URL }}img/feed-icon.png">
				</a>
			    <a href="{% url 'timeline' %}">{% trans 'News' %}</a>
			</h4>
			{% for timelineitem in timelineitems %}
			{% include timelineitem.template %}				    			
  			{% endfor %}
  			<div  class="clearfix" >
	 			<a href="{% url 'timeline' %}" class="btn btn-default btn-sm pull-right">{% bootstrap_icon "bullhorn" %} {% trans "Plus d'actualités" %}</a>
 			</div>
 			{% endif %}	
 			{% endblock %}
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6">
			{% if latest_photos %}
			<h4>
			  <a title="Atom Feed" href="{% url 'all_photos_feed' %}"><img alt="Feed Icon"
			    src="{{ STATIC_URL }}img/feed-icon.png"></a>
			  <a href="{% url 'photos' %}">{% blocktrans %}Photos{% endblocktrans %}</a>

			</h4>
			<div class="center-block" style="margin-bottom: 10px">
			  {% for photo in latest_photos %}
			  <a href="{% url 'photo_details' id=photo.id %}" title="{{ photo.title }} - {% trans 'Posted by' %} {% user_display photo.member %}"><img
			    class="img-rounded  timeline-thumb" src="{{ photo.get_thumbnail_url|urlencode }}" alt="{{ photo.title }}"></a>
			  {% endfor %}			  
 			</div>
				<div  class="clearfix" >
					<a href="{% url 'photos' %}" class="btn btn-default btn-sm pull-right">{% bootstrap_icon "camera" %} {% trans "Latest Photos" %}</a>
				</div>
 			
 			{% endif %}	
			<div class="col-xs-12 col-sm-12 col-md-6">
				{% if latest_tracks %}
				<h4>
			 		<a title="Atom Feed" href="{% url 'tracks_feed' %}">
			 			<img alt="Feed Icon" src="{{ STATIC_URL }}img/feed-icon.png">
			 		</a>
			 		<a href="{% url 'audiotracks' %}">
			   			{% blocktrans %}Tracks{% endblocktrans %}
			 		</a>
				</h4>
				{% for track in latest_tracks %}
					{% include "timeline/homepage/_track.html" %}
				{% endfor %}  					
				<a href="{% url 'audiotracks' %}" class="btn btn-default btn-sm pull-right">{% bootstrap_icon "headphones" %} {% trans 'Latest tracks' %}</a>
				{% endif %}			  				 
			</div>
				
				<div class="col-xs-12 col-sm-12 col-md-6">
				{% if latest_blogs %} 				
				<h4>
		   			<a title="Atom Feed" href="{% url 'all_blogs_feed' %}">
		   				<img alt="Feed Icon" src="{{ STATIC_URL }}img/feed-icon.png">
		   			</a>
			 		<a href="{% url 'blog_list_all' %}">
			      		{% blocktrans %}Blogs{% endblocktrans %}
			    	</a>				    
			  	</h4>
				{% for blog_post in latest_blogs%}
				{% include "timeline/homepage/_post.html" %}
				{% endfor %}				  
				<a href="{% url 'blog_list_all' %}" class="btn btn-default btn-sm pull-right">
					{% bootstrap_icon "pencil" %}  {% trans "All Blogs" %}
				</a> 
				{% endif %}          
			</div> 			
		</div>
	</div>
</div>
{% endblock %}