{% extends "audiotracks/mediaelement_base.html" %}

{% load i18n %}
{% load account_tags %}
{% load override_tags %}
{% load bootstrap3 %}

{% block head_title %}{% trans "Homepage" %}{% endblock %}
{% block extra_head %}{{ block.super }}<script type="text/javascript" src="{{ STATIC_URL }}js/microblogging.js"></script>{% endblock %}

{% block subnav %}
{% include "call_to_action.html" %}
{% endblock %}

{% block body %}
<div class="container">
	{% block touiteform %}
	<div class="row">
		<div class="col-xs-12">
			{% include 'microblogging/tweet_form.html' %}	
		</div>		
	</div>
	{% endblock %}
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-6">
			{% block newsblock %}
			{% if timelineitems %}
			<h4>
				<a><i class="fa fa-rss-square"></i></a>
			    <a href="{% url 'timeline' %}">{% trans 'News' %}</a>
			</h4>
			<div id="timeline">
			{% for timelineitem in timelineitems %}
				{% include timelineitem.template %}				    			
  			{% endfor %}
			</div>
 			{% endif %}
 			{% endblock %}
  			{% block newsfooter %}
  			{% if timelineitems %}
  			<div  class="clearfix" >
	 			<a href="{% url 'timeline' %}#tli_{{timelineitems|length}}" class="btn btn-default btn-sm pull-right"><i class="fa fa-bullhorn"></i> {% trans "More news" %}</a>
 			</div> 		
 			{% endif %}	
 			{% endblock %}
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6">
			{% block photosblock %}			
			{% if latest_photos %}
			<h4>
			  <a title="Atom Feed" href="{% url 'all_photos_feed' %}"><img alt="Feed Icon"
			    src="{{ STATIC_URL }}img/feed-icon.png"></a>
			  <a href="{% block photoslink %}{% url 'photos' %}{% endblock %}">{% blocktrans %}Photos{% endblocktrans %}</a>

			</h4>
			<div class="center-block" style="margin-bottom: 10px">
			  {% for photo in latest_photos %}
			  <a href="{% url 'photo_details' id=photo.id %}" title="{{ photo.title }} - {% trans 'Posted by' %} {% user_display photo.member %}"><img
			    class="img-rounded  timeline-thumb" src="{{ photo.get_thumbnail_url|urlencode }}" alt="{{ photo.title }}"></a>
			  {% endfor %}			  
 			</div> 			
 			{% endif %} 				
 			{% block photosfooter %}
 				{% if latest_photos %}
				<div  class="clearfix" >
					<a href="{% url 'photos' %}" class="btn btn-default btn-sm pull-right"><i class="fa fa-camera"></i> {% trans "Latest Photos" %}</a>
				</div>
				{% endif %}
			{% endblock %}
			<div class="col-xs-12 col-sm-12 col-md-{% if latest_blogs %}6{% else %}12{% endif %}">
				{% if latest_tracks %}
				<h4>
			 		<a title="Atom Feed" href="{% url 'tracks_feed' %}">
			 			<img alt="Feed Icon" src="{{ STATIC_URL }}img/feed-icon.png">
			 		</a>
			 		<a href="{% url 'audiotracks' %}">
			   			{% blocktrans %}Tracks{% endblocktrans %}
			 		</a>
				</h4>
				{% for track in latest_tracks %}
					{% include "timeline/homepage/_track.html" %}
				{% endfor %}  					
				{% endif %}
				{% block tracksfooter %}
					{% if latest_tracks %}
						<a href="{% url 'audiotracks' %}" class="btn btn-default btn-sm pull-right"><i class="fa fa-headphones"></i> {% trans 'Latest tracks' %}</a>				
					{% endif %}
				{% endblock %}			  				 
			</div>
				
				<div class="col-xs-12 col-sm-12 col-md-{% if latest_tracks %}6{% else %}12{% endif %}">
				{% if latest_blogs %} 				
				<h4>
		   			<a title="Atom Feed" href="{% url 'all_blogs_feed' %}">
		   				<img alt="Feed Icon" src="{{ STATIC_URL }}img/feed-icon.png">
		   			</a>
			 		<a href="{% block blogslink %}{% url 'blog_list_all' %}{% endblock %}">
			      		{% blocktrans %}Blogs{% endblocktrans %}
			    	</a>				    
			  	</h4>
				{% for blog_post in latest_blogs%}
				{% include "timeline/homepage/_post.html" %}
				{% endfor %}				  				 
				{% endif %}
				{% block blogsfooter %}
				{% if latest_blogs %}
					<a href="{% url 'blog_list_all' %}" class="btn btn-default btn-sm pull-right">
						<i class="fa fa-pencil"></i> {% trans "All Blogs" %}
					</a>
				{% endif %}
				{% endblock %}          
			</div>
		{% endblock %} 			
		</div>
	</div>
</div>
{% endblock %}