{% extends "timeline/homepage/homepage.html" %}

{% load i18n %}
{% load account_tags %}
{% load avatar_tags %}
{% load uni_form_tags %}
{% load microblogging_tags %}
{% load override_tags %}

{% block head_title %}{% trans "User Homepage" %}{% endblock %}

{% block touiteform %}{% endblock %}

{% block body %}
	    
{{ block.super }}
{% endblock %}

{% block newsblock %}
{% user_display other_user as other_user_display %}
	<dl class="dl-horizontal">
			<dt>
				<div class="clearfix">
                <img src="{% avatar_url other_user 80 %}" alt="Photo of {{ other_user }}" class="photo img-rounded" />
                {% if is_me %}
                <a href="{% url 'avatar_change' %}" id="avatar_replace"><i class="fa fa-pencil"></i> ({% trans "replace" %})</a>
                {% endif %}
            	</div>
            </dt>
			<dd>										
             {% if other_user.get_profile.name %}
                <h1>{% blocktrans %}<span class="nickname">{{ other_user_display }}</span>{% endblocktrans %}</h1>
            {% else %}
                <h1>{% blocktrans %}<span class="fn nickname">{{ other_user_display }}</span>{% endblocktrans %}</h1>
            {% endif %}				            						
			</dd>

           	{% if other_user.get_profile.name %}
 				<dt>{% trans "Name" %}</dt>
		  	<dd>{{ other_user.get_profile.name }}</dd>
		  	{% endif %}
		  	{% if other_user.get_profile.about %}
		  	<dt>{% trans "About" %}</dt>
		  	<dd> {{ other_user.get_profile.about }}</dd>
		  	{% endif %}      
		  	{% if other_user.get_profile.location%}
		  	<dt>{% trans "Location" %}</dt>
		  	<dd><i class="fa fa-map-marker"></i> {{ other_user.get_profile.location }}</dd>
		  	{% endif %}
             {% if other_user.get_profile.website %}
             <dt>{% trans "Website" %}</dt>
             <dd><a class="url" href="{{ other_user.get_profile.website }}"><i class="fa fa-globe"></i> {{ other_user.get_profile.website }}</a></dd>
             {% endif %}         
             {% comment %} 
             <dt><i class="fa fa-star"></i> {% trans "Following" %} <span class="badge">{% following_count other_user %}</span></dt>
             <dd>
             </dd>
             <dt><i class="fa fa-eye"></i> {% trans "Followers" %} <span class="badge">{% follower_count other_user %}</span></dt>
             <dd></dd>
             {% endcomment %}
               
		</dl>                		
			{% if is_me %}
			<div class="text-right">
            <a href="{% url 'avatar_change' %}" class="btn btn-default"><i class="fa fa-picture"></i> {% trans "Avatar" %}</a>			
	    	<a href="{% url 'profile_edit' %}" rel="facebox" class="btn btn-default"><i class="fa fa-pencil"></i> {% trans "Edit profile" %}</a>
			</div>			
			{% else %}
	        <form method="POST" action="{% url 'toggle_follow' other_user %}" class="form-inline" role="form" style="display: inline;">
	            {% csrf_token %}
	            {% if is_following %}
	            <button class="btn btn-default" name="action" value="unfollow"><i class="fa fa-minus"></i> {% trans "unfollow" %}</button>                                
	            {% else %}
	            <button class="btn btn-default" name="action" value="follow"><i class="fa fa-plus"></i> {% trans "follow tweets" %}</button>                                
	            {% endif %}
	            {% if is_friend %}	            
	         	<a href="{% url 'messages_compose' %}{{ other_user }}/" class="btn btn-default"><i class="fa fa-envelope"></i> {% trans "Send a message" %}</a>                      
	          	{% endif %}	                             
	        </form>
	         {% if is_friend %}
	         <form method="POST" action="" class="form-inline" role="form" style="display: inline;">
	          {% csrf_token %}
	          <input type="hidden" name="action" value="remove">
	          <button type="submit" class="btn btn-default"><i class="fa fa-ban"></i> {% trans "remove from friends" %}</button>                                                                       
	          </form>
              {% else %}
              
              {% endif %} {# is_friend #}
	          
	          
	          
	          {% endif %}
                                      
{{ block.super }}
{% endblock %}

{% block photosblock %}
{% if is_me %}
{% else %}

{% if is_friend %}
{% else %}
{% if previous_invitations_from %}
                  <p>{% blocktrans %}{{ other_user_display }} has requested friendship.{% endblocktrans %}</p>
                  {% for invitation in previous_invitations_from %}
                      <div class="friendship_request">
                          <p>From <a href="{% url 'profile_detail' invitation.from_user.username %}">{% user_display invitation.from_user %}</a> ({{ invitation.sent }}):</p>
                          <p class="invitation_message">{{ invitation.message }}</p>
                          <form method="post" action="">
                              <input type="hidden" name="invitation" value="{{ invitation.id }}"/>
                              <input type="hidden" name="action" value="accept"/>
                              <input type="submit" value="{% trans 'accept' %}" />
                          </form>
                          <form method="post" action="">
                              {% csrf_token %}
                              <input type="hidden" name="invitation" value="{{ invitation.id }}"/>
                              <input type="hidden" name="action" value="decline"/>
                              <input type="submit" value="{% trans 'decline' %}" />
                          </form>
                      </div>
                  {% endfor %}
              {% else %}
                  {% if user.is_authenticated %}
                    {% if previous_invitations_to %}
                        <p>{% trans "Friendship request sent." %}</p>
                    {% else %}                                  
                        <form class="form" method="POST" action="">
                            {% csrf_token %}
                            <fieldset><legend>{% trans "Add As Friend" %}</legend>
                                {{ invite_form|as_uni_form }}
                                <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">						   		
						     		<button name="action" value="invite" class="btn btn-default pull-right"><i class="fa fa-plus"></i> {% trans "invite" %}</button>
						     	</div>                											    
						  </div>                                                                                    
                            </fieldset>
                        </form>
                    {% endif %} {# previous_invitations_to #}
                  {% endif %}
              {% endif %} {# previous_invitations_from #}
{% endif %}
{% endif %}

{{ block.super }}
{% endblock %}


{% block newsfooter %}
{% comment %}
{% user_display other_user as other_user_display %}
{% if timelineitems %}
<div  class="clearfix" >
	<a href="{% url 'user_timeline' other_user_display %}" class="btn btn-default btn-sm pull-right"><i class="fa fa-bullhorn"></i> {% trans "More news" %}</a>
</div> 		
{% endif %}	
{% endcomment %}
{% endblock %}

{% block photosfooter %}
{% if latest_photos %}
{% user_display other_user as other_user_display %}
<div  class="clearfix" >
	<a href="{% if is_me %}{% url 'photos_yours' %}{% else %}{% url 'photos_user' other_user_display %}{% endif %}" class="btn btn-default btn-sm pull-right"><i class="fa fa-camera"></i> {% trans "Latest Photos" %}</a>
</div>
{% endif %}
{% endblock %}

{% block photoslink %}{% user_display other_user as other_user_display %}{% if is_me %}{% url 'photos_yours' %}{% else %}{% url 'photos_user' other_user_display %}{% endif %}{% endblock %}

{% block tracksfooter %}
{% endblock %}

{% block blogslink %}{% user_display other_user as other_user_display %} {% if is_me %}{% url 'blog_list_yours' %}{% else %}{% url 'blog_list_user' other_user_display %}{% endif %}{% endblock %}

{% block blogsfooter %}
{% user_display other_user as other_user_display %}
{% if latest_blogs %}
	<a href="{% if is_me %}{% url 'blog_list_yours' %}{% else %}{% url 'blog_list_user' other_user_display %}{% endif %}" class="btn btn-default btn-sm pull-right">
		<i class="fa fa-pencil"></i>  {% trans "All Blogs" %}
	</a>
{% endif %}
{% endblock %}

{% block extra_body %}{{ block.super }}<script>$(document).ready(function(){$('button[type=submit]').popConfirm();});</script>{% endblock %}